@model IEnumerable<SHOPTT_DA.Models.SanPham>
@{
    ViewBag.Title = "Seach";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<h2>Sản phẩm</h2>



<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
            <div class="panel panel-default">
                <div class="panel panel-heading">
                    @item.tenSP
                </div>
                <div class="panel-body">
                    <p><strong>Giá: </strong>@item.giaBan</p>
                    <p><strong>Ngày cập nhật: </strong>@item.ngayCapNhat</p>
                    @*<p><strong>Số lượng tồn: </strong>@item.soluongton</p>*@
                    <p><img width="200px" height="200px" src="@item.hinh" alt="hinh thumnail"></p>
                </div>
                <div class="panel-footer clearfix">
                    <div class="pull-right">
                        @*<a href="#" class="btn btn-primary">Order</a>*@
                        @*@Html.ActionLink("Read more...", "Detail", new {id = item.masach}, new { @class = "btn btn-default" })*@
                        <div class="DatMua">
                            <a class="btn btn-success" href="@Url.Action("ThemGioHang", "GioHang",
                            new { @id = item.maSP, @strURL = Request.Url.ToString() })">Đặt mua</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>